<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wedding Organizer & Planning | WedPlan</title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="landing/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="landing/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="landing/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="landing/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="landing/css/style.css" type="text/css">
</head>

<body>
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img src="landing/img/logo.png" alt="">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Beranda</a></li>
                        <li><a href="./about-us.html">Tentang Kami</a></li>
                        <li><a href="./contact.html">Kontak</a></li>
                    </ul>
                </nav>
                <a href="/login" class="primary-btn top-btn"><i class="fa-solid fa-arrow-right-to-bracket"></i> Masuk</a>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <section class="hero-section set-bg" data-setbg="landing/img/hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg mb-5">
                    <div class="hero-text">
                        <!-- <span>Ini teks atas kalo mau dipake</span> -->
                        <h2>Buat Pesta Meriah Terstruktur Dengan Mudah</h2>
                        <a href="/dashboard" class="primary-btn">Buat Rencana</a>
                    </div>
                </div>
                <!-- <div class="col-lg-5">
                    <img src="landing/img/hero-right.png" alt="">
                </div> -->
            </div>
        </div>
    </section>

    <section class="counter-section bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="counter-text">
                        <span>Partner Kami</span>
                        <h3>Tak perlu repot pusing mencari vendor</h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="count-vendor">
                        <div class="cd-item">
                            <span>15</span>
                            <p>Vendor Catering</p>
                        </div>
                        <div class="cd-item">
                            <span>09</span>
                            <p>Vendor Dokumentasi</p>
                        </div>
                        <div class="cd-item">
                            <span>10</span>
                            <p>Vendor Hiburan</p>
                        </div>
                        <div class="cd-item">
                            <span>12</span>
                            <p>Vendor Dekorasi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home-about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src="landing/img/h-about.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2>Tentang WedPlan</h2>
                        <p>WedPlan hadir sebagai solusi perencanaan pernikahan yang memudahkan calon pengantin dalam
                            mempersiapkan hari bahagianya tanpa ribet. Di WedPlan, kami menyediakan berbagai paket
                            lengkap yang mencakup layanan catering, dokumentasi, dan dekorasi. Anda tidak perlu pusing
                            mencari vendor satu per satu, semuanya ada di satu tempat. Fleksibilitas dalam memilih
                            layanan sesuai kebutuhan dan selera Anda juga menjadi keunggulan kami. Dengan WedPlan,
                            wujudkan pernikahan impian Anda dengan mudah, praktis, dan tanpa stres!</p>
                        <ul>
                            <li> Sekali bayar dapat semua</li>
                            <li> Undangan Digital</li>
                            <li> Vendor terpercaya & terbaik</li>
                            <li> Tinggal duduk manis</li>
                        </ul>
                        <a href="/dashboard" class="ha-btn">Buat Rencana</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-section set-bg spad" data-setbg="landing/img/pricing-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Paket Tersedia</h2>
                        <p class="text-white">Pilih sesuai kebutuhan kamu</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="price-item">
                        <h4>Bronze</h4>
                        <div class="pi-price">
                            <h2><span>Rp</span>50RB</h2>
                        </div>
                        <ul>
                            <li>Undangan digital 100 tamu</li>
                            <li>RSVP 100 Tamu</li>
                            <li>Unlimited Kontak Vendor</li>
                            <li>Durasi : 1 Bulan</li>
                        </ul>
                        <a href="#" class="price-btn">Pilih Paket</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="price-item top-rated">
                        <div class="tr-tag">
                            <i class="fa fa-star"></i>
                        </div>
                        <h4>Platinum</h4>
                        <div class="pi-price">
                            <h2><span>Rp</span>100RB</h2>
                        </div>
                        <ul>
                            <li>Undangan digital 500 tamu</li>
                            <li>RSVP 500 Tamu</li>
                            <li>Unlimited Kontak Vendor</li>
                            <li>Durasi : 1 Bulan</li>
                        </ul>
                        <a href="#" class="price-btn">Pilih Paket</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="price-item">
                        <h4>Custom</h4>
                        <div class="pi-price">
                            <h2><span>Rp</span>??</h2>
                        </div>
                        <ul class="mb-4">
                            <li>Bebas atur sesuai kebutuhan dan budget</li>
                            <li>Durasi Custom</li>
                        </ul>
                        <a href="#" class="price-btn">Pilih Paket</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Lokasi Kantor</h2>
                        <p>Buat janji pertemuan dengan kami</p>
                    </div>
                    <div class="cs-text">
                        <div class="ct-address">
                            <span>Alamat:</span>
                            <p>Jl. Ring Road Utara, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah
                                Istimewa Yogyakarta 55281</p>
                        </div>
                        <ul>
                            <li>
                                <span>WhatsApp:</span>
                                (+62) 8123456678
                            </li>
                            <li>
                                <span>Email:</span>
                                kontak@wedplan.com
                            </li>
                        </ul>
                        <div class="ct-links">
                            <span>Website:</span>
                            <p><a href="https://wedplan.com" class="text-decoration-none text-secondary" target="_blank"
                                    rel="noopener noreferrer">https://wedplan.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cs-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15813.12736111232!2d110.4090461!3d-7.7599049!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a599bd3bdc4ef%3A0x6f1714b0c4544586!2sUniversity%20of%20Amikom%20Yogyakarta!5e0!3m2!1sen!2sid!4v1732176708783!5m2!1sen!2sid"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-section">
        <div class="container">
            <div class="partner-logo owl-carousel">
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="landing/img/partner-logo/logo-1.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="landing/img/partner-logo/logo-2.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="landing/img/partner-logo/logo-3.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="landing/img/partner-logo/logo-4.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="landing/img/partner-logo/logo-6.png" alt="">
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <div class="ft-logo">
                            <a href="#" class="footer-logo"><img src="landing/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li><a href="#">Beranda</a></li>
                            <li><a href="#">Tentang Kami</a></li>
                            <li><a href="#">Kontak</a></li>
                            <li><a href="#">Masuk</a></li>
                            <li><a href="#">Daftar</a></li>
                        </ul>
                        <div class="copyright-text">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                website is made with <i class="fa fa-heart" style="color: crimson;"
                                    aria-hidden="true"></i>
                                by <b class="text-white">WedPlan
                                    Team</b></a>

                            </p>
                        </div>
                        <div class="ft-social">
                            <a href="#">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="landing/js/jquery-3.3.1.min.js"></script>
    <script src="landing/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/all.min.js"
        integrity="sha512-1JkMy1LR9bTo3psH+H4SV5bO2dFylgOy+UJhMus1zF4VEFuZVu5lsi4I6iIndE4N9p01z1554ZDcvMSjMaqCBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="landing/js/jquery.slicknav.js"></script>
    <script src="landing/js/owl.carousel.min.js"></script>
    <script src="landing/js/main.js"></script>
</body>

</html>