<div class="card">
    <div class="card-body">
      <div class="card-title mb-2">Event yang akan datang (3)</div>
      <h3 class="mb-3">23 Desember 2024</h3>
      <div class="d-flex border-bottom border-top py-3">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" checked /></label>
        </div>
        <div class="ps-2">
          <span class="font-12 text-muted">Senin, 5 desember , 9.30am</span>
          <p class="m-0 text-black"> Foto Preweding </p>
        </div>
      </div>
      <div class="d-flex border-bottom py-3">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" /></label>
        </div>
        <div class="ps-2">
          <span class="font-12 text-muted">Selasa, 7 desember, 4.30 PM</span>
          <p class="m-0 text-black"> Cetak undangan</p>
        </div>
      </div>
      <div class="d-flex border-bottom py-3">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" /></label>
        </div>
        <div class="ps-2">
          <span class="font-12 text-muted">Selasa, 30 desember, 9.30am</span>
          <p class="m-0 text-black">meeting dengan vendor</p>
        </div>
      </div>
      <div class="d-flex pt-3">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" /></label>
        </div>
        <div class="ps-2">
          <span class="font-12 text-muted">kamis, 1 januari, 4.30 PM</span>
          <p class="m-0 text-black"> pesan katering </p>
        </div>
      </div>
    </div>
  </div>