<div class="card">
    <div class="card-body pb-0">
      <h4 class="card-title mb-0">Financial management review</h4>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table custom-table text-dark">
          <thead>
            <tr>
              <th>Name</th>
              <th>Hubungan</th>
              <th>RSVP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="/views/dashboard/assets/images/faces/face2.jpg" class="me-2" alt="image" /> Jacob Jensen 
              </td> 
              <td>Teman</td>
              <td>Hadir</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="text-black font-13 d-block pt-2 pb-2 pb-lg-0 font-weight-bold ps-4" href="#">Show more</a>
    </div>
  </div>