<div class="card">
    <div class="card-body">
      <div class="d-flex border-bottom mb-4 pb-2">
        <div class="hexagon">
          <div class="hex-mid hexagon-warning">
            <i class="mdi mdi-clock-outline"></i>
          </div>
        </div>
        <div class="ps-4">
          <h4 class="font-weight-bold text-warning mb-0"> Fotografer </h4>
          <h6 class="text-muted">Pt kamera keren</h6>
        </div>
      </div>
      <div class="d-flex border-bottom mb-4 pb-2">
        <div class="hexagon">
          <div class="hex-mid hexagon-danger">
            <i class="mdi mdi-account-outline"></i>
          </div>
        </div>
        <div class="ps-4">
          <h4 class="font-weight-bold text-danger mb-0">katering</h4>
          <h6 class="text-muted">cv emak endah</h6>
        </div>
      </div>
      <div class="d-flex border-bottom mb-4 pb-2">
        <div class="hexagon">
          <div class="hex-mid hexagon-success">
            <i class="mdi mdi-laptop-chromebook"></i>
          </div>
        </div>
        <div class="ps-4">
          <h4 class="font-weight-bold text-success mb-0"> livestreaming </h4>
          <h6 class="text-muted">zoomin</h6>
        </div>
      </div>
      <div class="d-flex border-bottom mb-4 pb-2">
        <div class="hexagon">
          <div class="hex-mid hexagon-info">
            <i class="mdi mdi-clock-outline"></i>
          </div>
        </div>
        <div class="ps-4">
          <h4 class="font-weight-bold text-info mb-0">kartu digital</h4>
          <h6 class="text-muted">Wedpaln</h6>
        </div>
      </div>
      <div class="d-flex">
        <div class="hexagon">
          <div class="hex-mid hexagon-primary">
            <i class="mdi mdi-timer-sand"></i>
          </div>
        </div>
        <div class="ps-4">
          <h4 class="font-weight-bold text-primary mb-0"> Tenda </h4>
          <h6 class="text-muted mb-0">Haji Samsul</h6>
        </div>
      </div>
    </div>
  </div>